In [18]:
import pandas as pd
import matplotlib.pyplot as plt

r = pd.read_csv( 'data/ratings.csv' )
tr = pd.read_csv( 'data/to_read.csv' )
b = pd.read_csv( 'data/books.csv' )

t = pd.read_csv( 'data/tags.csv' )
bt = pd.read_csv( 'data/book_tags.csv')

In [2]:
r.head()

   user_id  book_id  rating
0        1      258       5
1        2     4081       4
2        2      260       5
3        2     9296       5
4        2     2318       3

In [7]:
max(r.user_id)

53424

In [8]:
max(r.book_id)

10000

In [10]:
len(r.rating)

5976479

In [12]:
tr.head()

   user_id  book_id
0        9        8
1       15      398
2       15      275
3       37     7173
4       34      380

In [17]:
len(tr.book_id.unique())

9986

In [19]:
import networkx as nx

# Create an empty graph
graph = nx.Graph()

# Iterate over the ratings dataframe
for _, row in r.iterrows():
    user_id = row['user_id']
    book_id = row['book_id']
    
    # Find other users who rated the same book
    other_users = r[(r['book_id'] == book_id) & (r['user_id'] != user_id)]['user_id'].tolist()
    
    # Add edges between the current user and other users
    for other_user in other_users:
        graph.add_edge(user_id, other_user)

# Print the number of nodes and edges in the graph
print(len(graph.nodes()))
print(len(graph.edges()))

# Create a list to store the common books between two users
common_books = []

# Iterate over the graph nodes
for node in graph.nodes():
    # Find the neighbors of the node
    neighbors = list(graph.neighbors(node))
    
    # Iterate over the neighbors of the node
    for neighbor in neighbors:
        # Find the books rated by the node and the neighbor
        books_node = r[r['user_id'] == node]['book_id'].tolist()
        books_neighbor = r[r['user_id'] == neighbor]['book_id'].tolist()
        
        # Find the common books between the node and the neighbor
        common = set(books_node).intersection(books_neighbor)
        
        # Add the common books to the list
        common_books.extend(common)

# Print the number of common books
print(len(common_books))

# visualize the graph
# Draw the graph
nx.draw(graph, with_labels=False, node_size=10)
plt.show()